## Im going with random forest to train my model as im a bit more comfortable with this one and from my understanding its more accurate

In [4]:
import pandas as pd
import joblib
import pathlib
from taxipred.utils.constants import CLEANED_CSV_PATH
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(CLEANED_CSV_PATH, index_col=0)
df.head()

,Time_of_Day,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
Trip_Distance_km,,,,,,
19.35,Morning,3.56,0.80,0.32,53.82,36.2624
36.87,Evening,2.70,1.21,0.15,37.27,52.9032
30.33,Evening,3.48,0.51,0.15,116.81,36.4698
8.64,Evening,2.93,0.63,0.32,22.64,15.6180
8.64,Afternoon,2.55,1.71,0.48,89.33,60.2028

In [3]:
df.isnull().sum()

Trip_Distance_km         0
Time_of_Day              0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
x, y = df.drop(columns=["Trip_Price"]), df['Trip_Price']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape
x_train.head()

,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes
Trip_Distance_km,,,,
29.010000,4.36,1.39,0.20,88.77
48.750000,3.46,1.02,0.46,17.41
22.970000,2.25,0.76,0.20,60.53
104.371791,3.22,1.12,0.45,89.21
21.950000,4.05,0.88,0.10,44.99

In [9]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [19]:
# Regression metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))

Mean Absolute Error: 17.190866977374938
Mean Squared Error: 659.1577030050594
R2 Score: 0.11270214896905406